<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-4" style="background-color: #025c5c;">
            <div class="menu">
                <h4 class="text-white">Menu</h4>
                <img src="../../assets/account_circle_black_24dp.svg" alt="">
                <a class="navbar-content" type="button" data-toggle="modal" data-target="#myModal">Cadastrar Administrador</a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark justify-content-start" style="background-color: #028484;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none">
        <span class="navbar-toggler-icon st"></span>
      </button>
        <a href="" class="title">
            <h3 class="Paciente" href="http://localhost:4200/" style="font-weight: bold; font-size: 40px;">Pacientz <img src="../../assets/home_white_24dp.svg" style="width: 48px; height: 48px;"></h3>
        </a>
        <div class="spacer"></div>

        <a class="navbar-brand" href="#" [routerLink]="['/login']" style="font-size: 35px; font-family: 'Roboto';"> <img src="../../assets/login_white_24dp.svg" style="width: 48px; height: 48px;"> Logout</a>
    </nav>

</div>