<div class="card">
    <div class="box">
        <img class="card-img-top" src="../../assets/Image in Twitter Default Icon collection by _َ.jpg" alt="Card image cap" style=" height: 90px; width: 90px;">
        <div class="card-body">
            <div class="status">
                <h5>ID:</h5>
                <h6>{{patient.id}}</h6>
            </div>
            <div class="status">
                <h5>Status:</h5>
                <h6>{{patient.status}}</h6>
            </div>
            <h5>Nome</h5>
            <h6>{{patient.ds_nome}}</h6>
            <h5>Data Nascimento</h5>
            <h6>{{patient.dt_nascimento}}</h6>
            <h5>Tipo Sanguíneo</h5>
            <h6>{{patient.tipo_sangue}}</h6>
            <h5>CPF</h5>
            <h6>{{patient.cpf}}</h6>
        </div>
        <div class="buttons">
            <div class="button">
                <button class="button" style="background-color: #013a3a;">Editar</button>

            </div>
            <div class="2button">
                <button class="button" style="background-color: #013a3a;">Deletar</button>
            </div>
        </div>
    </div>

</div>