<div class="card">
    <div class="box">
        <img class="card-img-top" src="../../assets/Image in Twitter Default Icon collection by _َ.jpg" alt="Card image cap" style=" height: 90px; width: 90px;">
        <div class="card-body">
            <h6>ID: </h6>
            <h3>status</h3>
            <h5>Nome</h5>
            <input type="text" placeholder="Nome">
            <img src="../../assets/edit_white_24dp.svg" alt="">
            <h5>Data Nascimento</h5>
            <input type="date" placeholder="00/00/0000">
            <img src="../../assets/edit_white_24dp.svg" alt="">
            <h5>Tipo Sanguíneo</h5>
            <input type="text" placeholder="A+">
            <img src="../../assets/edit_white_24dp.svg" alt="">
            <h5>CPF</h5>
            <input type="text" placeholder="123.456.789-10">
        </div>
        <div class="buttons">
            <div class="button">
                <button class="button">Salvar alterações</button>

            </div>
            <div class="2button">
                <button class="button">Deletar paciente</button>
            </div>
        </div>
    </div>

</div>