<div class="news">
    <h3>Notícias</h3>
</div>
<div class="noticias">
    <div class="noticias-space"></div>
</div>
<div class="box-adds">
    <div class="card" style="width: 18rem; border-style: none;">
        <img class="card-img-top" src="../../assets/MicrosoftTeams-image (1).png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Paciente de 46 anos, recebe alta após ficar 73 dias internada por covid-19 no HSA.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem; border-style: none;">
        <img class="card-img-top" src="../../assets/MicrosoftTeams-image.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Tecnologia inovadora é utilizada em cirurgia de coluna cervical pela primeira vez em Blumenau.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem; border-style: none;">
        <img class="card-img-top" src="../../assets/MicrosoftTeams-image(2).png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Transferida com urgência ao HSA para iniciar tratamento, mãe pega filha recém-nascida no colo pela primeira vez após 15 dias do nascimento.</p>
        </div>
    </div>
</div>