<div class="card" style="width: 18rem;">
    <div class="box">
        <img class="card-img-top" src="../../assets/Image in Twitter Default Icon collection by _َ.jpg" alt="Card image cap" style=" height: 125px; width: 130px;">
        <div class="card-body">
            <h3>Status</h3>
            <h5>Nome</h5>
            <input type="text" placeholder="Nome" readonly>
            <h5>Data Nascimento</h5>
            <input type="text" placeholder="00/00/0000" readonly>
            <h5>Tipo Sanguíneo</h5>
            <input type="text" placeholder="A+" readonly>
            <h5>CPF</h5>
            <input type="text" placeholder="123.456.789-10" readonly>
        </div>
        <div class="buttons">
            <div class="button">
                <button class="button">Salvar alterações</button>

            </div>
            <div class="2button">
                <button class="button">Deletar paciente</button>
            </div>
        </div>
    </div>

</div>