<div class="input">
    <input type="text" placeholder="Pesquisar paciente" onkeyup="if(event.keyCode===13){submit.click()}">
    <form class="form-inline">
        <a [routerLink]="['/searching']"><button class="btn"><img src="../../assets/search_white_24dp.svg" alt=""></button></a>
    </form>
    <div class="add">
        <button type="button" id="submit" class="btn" data-toggle="modal" data-target="#exampleModal" style="background-color: #028484; color: white;">Adcionar <img src="../../assets/add_white_24dp.svg" alt="Search"></button>
    </div>
</div>