<div class="all">
    <div class="words">
        <h1 class="title">PACIENTZ</h1>
        <p class="frase">SUA PLATAFORMA DE PESQUISA A PACIENTE</p>
        <p class="footer">- Desenvolvido pelos trainee's Pulsati -</p>
    </div>
    <div class="login">
        <div class="loginTitle">
            <h1>FAZER LOGIN</h1>
        </div>
        <div class="loginBox">
            <div class="loginAlign">
                <div class="inputs">
                    <input  []="text" class="form-control" placeholder="Nome/Email" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="inputs">
                    <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                          <input type="checkbox" aria-label="...">
                        </span>
                            <div class="Save">
                                <p>Lembrar-me</p>
                            </div>
                        </div>
                    </div>
                    <div class="forgot">
                        <a href="#">Esqueci minha senha</a>
                    </div>
                </div>
                <br>
                <div class="login-button">
                    <button class="btn btn-primary btn-lg" id="buttonLogin" type="submit" href="#" role="button" (click)="fazerLogin()">LOGIN</button>
                </div>
                <div class="register">
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>