.all {
    display: flex;
    flex-direction: row;
    
    .words { 
        display: flex;
        justify-content: center;
        background-color: #028484;
        width: 60%;
        height: 100vh;
        color: white;

        > .titulo {
            
            h1{
                display: flex;
                justify-content: center;
                font-size: 80px;
                margin-top: 45%;
                    
                h1:hover{
                    transition: color grey, ease-in-out 0.2s;
                }
            }
            .frase {
                text-shadow: 0px 4px 4px black;
                font-family: Anton;
                display: flex;
                justify-content: flex-end;
                font-size: 32px;
                margin-top: 30%;
            }
            .footer{
                display: flex;
                justify-content: center;
                font-size: 32px;
                margin-top: 35%;
            }
            
        }
    }

    

    .login {
        display: flex;
        flex-direction: column;
        background-color: rgba(193, 201, 200, 0.65);
        align-items: center;
        
        width: 40%;
        height: 100vh;

        .loginTitle{
            align-self: flex-start;
            padding-left: 70px;
            padding-top: 120px;
            padding-bottom: 80px;
        }
        
        
        .loginBox {


            > .loginAlign {
                display: flex;
                background-color: #C1C9C8;
                width: 440px;
                height: 500px;
                padding-left: 20px;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                border-radius: 15px; 

                > .row {
                    display: flex;
                    width: 100%;

                    > .col-lg-6 {
                        padding: 0px;

                        > .input-group {
                            padding-left: 20px;
                            flex-wrap: nowrap;

                            > .input-group-addon {
                                width: 13px;
                                height: 13px;
                            }

                            > .Save {
                                padding-left: 5px;
                                justify-content: flex-start;
                            }
                        }
                    }

                    .forgot {
                        justify-self: flex-end;
                    }
                }

                > .login-button {
                    display: flex;
                    align-self: center;

                    #buttonLogin {
                        font-size: 25px;
                        width: 200px;
                    }
                }

                .register {
                    p {
                        margin: 0px;
                    }
                    
                }
            }

            .form-control {
                width: 190%;
            }

            
        }
    }
}

